<h4>List of Product :{{ mydate | date: "MM-dd-yyyy" }}</h4>
<div>Search : <input [(ngModel)]="queryString" /></div>
<hr />
<br />
<div class="card-deck">
  <div class="card" *ngFor="let product of products | searchData:queryString:'name'">
    <div class="card-header bg-warning">
      <b>{{ product.name | uppercase }}</b>
    </div>
    <div class="card-body">
      Price: {{ product.price | currency: "INR" }} <br />Description:
      {{ product.description }}
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="addToCart(product)">
        Add to Cart
      </button>
    </div>
  </div>
</div>
